.title-bar {
  background: #fff;
  color: #333;
  font-size: 4.8vw;
}

.title-bar,.title-bar .title-text {
  display: flex;
  justify-content: center;
}

.title-bar .title-text {
  align-items: center;
  flex: 1;
}

.title-bar .cuIcon-scan {
  background-color: rgba(0,0,0,.3);
  border-radius: 13.333vw;
  padding: 1.333vw;
}

.health-code-center-wrap {
                                                                                                                                                                                                                                                                                                                                                  min-height: 100vh;
                                                                                                                                                                                                                                                                                                                                                }

.health-code-center-wrap,.health-code-center-wrap .err-wrap {
  display: flex;
  flex-direction: column;
}

.health-code-center-wrap .err-wrap {
  align-items: center;
  color: #666;
  font-size: 4vw;
  padding-top: 21.333vw;
}

.health-code-center-wrap .err-wrap .image {
  height: 29.333vw;
  width: 48.5333vw;
}

.health-code-center-wrap .err-wrap .text {
  margin-top: 10vw;
}

.health-code-center-wrap .err-wrap .reload-btn {
  border: 1px solid #27cabf;
  border-radius: 1.6vw;
  color: #27cabf;
  display: inline-block;
  font-size: 4.8vw;
  height: 11.333vw;
  line-height: 11.333vw;
  margin-top: 16vw;
  text-align: center;
  width: 32vw;
}

.model-warning {
  background: rgba(0,0,0,.5);
  height: 100vh;
  padding: 40vw 5.333vw 5.333vw;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1000;
}

.model-warning .model-content {
  align-items: center;
  background: #fff;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  height: 66.933vw;
  padding: 0 5.333vw;
  width: 100%;
}

.model-warning .model-content image {
  height: 16vw;
  margin-top: 60.533vw;
  width: 16vw;
}

.model-warning .model-content text {
  color: #000;
  font-size: 4.533vw;
  letter-spacing: 0;
  margin-bottom: 6.4vw;
  margin-top: 5.333vw;
  text-align: center;
}

.model-warning .model-content .button-primary {
  width: 37.333vw;
}

.health-code-center-info {
  background-image: linear-gradient(135deg,#57a4f6,#3588e1);
  flex: 1;
  overflow: hidden;
  padding: 3.2vw 4vw;
  position: relative;
  width: 100vw;
}

.health-code-center-info .info-box-wrap {
  position: relative;
  z-index: 1000;
}

.health-code-center-info .caih-logo {
  height: 9.733vw;
  position: absolute;
  right: 4vw;
  top: 2.667vw;
  width: 24vw;
}

.health-code-center-info .rotate-bg-image-top {
  height: 88vw;
  right: -25.333vw;
  top: -21.333vw;
  width: 88vw;
}

.health-code-center-info .rotate-bg-image-bottom,.health-code-center-info .rotate-bg-image-top {
  animation: rotate 30s linear infinite;
  position: absolute;
}

.health-code-center-info .rotate-bg-image-bottom {
  bottom: -20vw;
  height: 100vw;
  left: -20vw;
  width: 100vw;
}

.health-code-center-info .blogo {
  display: block;
  height: 6.933vw;
  margin: 4vw auto;
  width: 410.533vw;
}

.health-code-center-info .user-info-wrap {
  color: #fff;
}

.health-code-center-info .user-info-wrap .user-name {
  font-size: 4.8vw;
  height: 6.667vw;
  line-height: 6.667vw;
}

.health-code-center-info .user-info-wrap .user-idCardNo {
  font-size: 3.733vw;
  height: 5.333vw;
  line-height: 5.333vw;
  margin-top: 1.733vw;
}

.health-code-center-info .user-info-wrap .eye-icon {
  height: 5.867vw;
  margin-left: 3.2vw;
  vertical-align: middle;
  width: 5.867vw;
}

.health-code-center-info .grid-info-box {
  bottom: 20.667vw;
  height: auto;
  position: absolute;
  text-align: center;
  width: 100%;
}

.health-code-center-info .grid-info-box .name-text {
  color: #333;
  font-size: 4.533vw;
  padding: 1.333vw 2.667vw;
  width: 100%;
}

.health-code-center-info .scan-info-box {
  align-items: center;
  border-top: 0.267vw solid #ccc;
  bottom: 0;
  color: #333;
  display: flex;
  height: 20vw;
  justify-content: center;
  padding-left: 9.333vw;
  position: absolute;
  width: 100%;
}

.health-code-center-info .scan-info-box .time-box {
  border-right: 0.267vw solid #ccc;
  font-size: 40.8vw;
  font-weight: 700;
  margin-right: 4vw;
  padding-right: 4vw;
}

.health-code-center-info .scan-info-box .user-box {
  flex: 1;
  font-size: 3.733vw;
}

.health-code-center-info .scan-info-box .user-box .time {
  font-size: 4.533vw;
  font-weight: 700;
  padding-top: 0.8vw;
}

.health-code-center-info .scan-info-box .user-box .date {
  color: #333;
  font-size: 3.2vw;
  font-weight: 400;
  margin-top: 0.533vw;
}

.health-code-center-info .scan-info-box .user-box .item-text {
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
}

.health-code-center-info .health-code-box {
  background: #fff;
  border-radius: 10.8vw;
  box-shadow: 0 1.6vw 0.8vw 0 rgba(12,39,69,.1);
  margin-top: 4vw;
  min-height: 89.333vw;
  overflow: hidden;
  padding-bottom: 14vw;
  padding-top: 4.8vw;
  position: relative;
}

.health-code-center-info .health-code-box .user-bottom-btn {
  align-items: center;
  background-color: #fff;
  border-top: 0.267vw solid #ccc;
  bottom: 0;
  display: flex;
  height: 16vw;
  padding: 0 3.2vw;
  position: absolute;
  width: 100%;
}

.health-code-center-info .health-code-box .user-bottom-btn .bottom-btn-item {
  color: #378ae2;
  flex: 1;
  font-size: 4.267vw;
  font-weight: 700;
  text-align: center;
}

.health-code-center-info .health-code-box .user-bottom-btn .bottom-btn-item+.bottom-btn-item {
  border-left: 0.267vw solid #ccc;
}

.health-code-center-info .health-code-scan {
  min-height: 74vw;
}

.health-code-center-info .health-box-wrap {
  display: flex;
  margin-top: 3.2vw;
}

.health-code-center-info .health-box-wrap .health-box-item {
  min-height: 32.267vw;
}

.health-code-center-info .health-box-item {
  background-color: #fff;
  border-radius: 10.8vw;
  box-shadow: 0 1.6vw 0.8vw 0 rgba(12,39,69,.1);
  margin-right: 1.333vw;
  min-height: 26.667vw;
  padding-top: 2.667vw;
  width: 100%;
}

.health-code-center-info .health-box-item+.health-box-item {
  margin-left: 1.333vw;
  margin-right: 0;
}

.health-code-center-info .report-box {
  margin-top: 3.2vw;
  padding: 4vw;
}

.health-code-center-info .button-box {
  margin: 3.2vw 0 0!important;
  min-height: 47.733vw;
}

.health-code-center-info .bottom-info {
  color: #fff;
  font-size: 4.533vw;
  font-weight: 700;
  margin-top: 6.667vw;
  text-align: center;
}

.health-code-center-info .qrcode-sub-title {
  color: #fff;
  font-size: 3.2vw;
  line-height: 4.533vw;
  margin-bottom: 10.8vw;
  margin-top: 0.8vw;
  text-align: center;
}

@-webkit-keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(1turn);
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(1turn);
  }
}

page .test {
  align-items: center;
  background: red;
  color: #fff;
  display: none;
  font-size: 5.333vw;
  font-weight: 500;
  height: 40px;
  justify-content: center;
  position: fixed;
  top:0;
  width: 130px;
  z-index: 100;
}